<div class="row">
  <h1 class="col-12">Your Ultimate Movie Watchlist!</h1>
</div>

<form class="form-group new-movie">
  <input class="form-control" type="text" id="movie-title" placeholder="Search Movie">
  <select class="custom-select" id="genre-select">
    <option selected>Select Genre</option>
    <option value="Action/Adventure">Action/Adventure</option>
    <option value="Animation">Animation</option>
    <option value="Comedy">Comedy</option>
    <option value="Crime">Crime</option>
    <option value="Drama">Drama</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Historical">Historical</option>
    <option value="Horror">Horror</option>
    <option value="Mystery/Thriller">Mystery/Thriller</option>
    <option value="Science Fiction">Science Fiction</option>
    <option value="Western">Western</option>
  </select>
  <button class="btn btn-danger" type="submit">Add to Watchlist</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Watched</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <td>{{dataValues.movie}}</td>
      <td>{{dataValues.genre}}</td>
      {{#if dataValues.unwatched}}
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="checked" id="flexCheckDefault"
            movie-id="{{dataValues.id}}">
          <label class="form-check-label" movie-id="{{dataValues.id}}" for="flexCheckDefault">Unwatched</label>
        </div>
      </td>
      {{else}}
      <td>Watched</td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="form-group">
  <form method="POST" action="/logout?_method=DELETE">
    <button type="submit" class="btn btn-danger" id="logout">logout</button>
  </form>
</div>

<script src="/js/newMovie.js"></script>
<script src="/js/updateStatus.js"></script>
<script src="/js/logout.js"></script>